
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="nmyuan" />
    <meta name="description" content="nmyuan" />
    <meta name="author" content="weqan" />
    <link rel="icon" href="~/favicon.ico" type="image/png" />
    <title>后台管理 - 纳米源</title>

    <link href="~/css/icons.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />

    <!--js实现全屏-->
    <script>
        // 计算页面的实际高度，iframe自适应会用到
        function calcPageHeight(doc) {
            var cHeight = Math.max(doc.body.clientHeight, doc.documentElement.clientHeight);
            var sHeight = Math.max(doc.body.scrollHeight, doc.documentElement.scrollHeight);
            var height = Math.max(cHeight, sHeight);
            return height;
        }
        //根据ID获取iframe对象
        var ifr = document.getElementById('rightFrame');
        ifr.onload = function () {
            //解决打开高度太高的页面后再打开高度较小页面滚动条不收缩
            ifr.style.height = '0px';
            var iDoc = ifr.contentDocument || ifr.document;
            var height = calcPageHeight(iDoc);
            if (height < 550) {
                height = 550;
            }
            ifr.style.height = height + 'px';
        }
    </script>

</head>

<body class="sticky-header">

    <div class="left-side sticky-left-side">

        <div class="logo">
            <a href="#"><img src="#" alt="" /></a>
        </div>

        <div class="logo-icon text-center">
            <a href="#"><img src="#" alt="" /></a>
        </div>

        <div class="left-side-inner">
            <ul class="nav nav-pills nav-stacked custom-nav">

                <li class="menu-list nav-active">
                    <a><i class="icon-home"></i> <span> 博客管理 </span></a>
                    <ul class="sub-menu-list">
                        <li class="active"><a href="/Adnn1n/Home/Welcome" target="rightFrame"> 分类管理 </a></li>
                        <li><a href="/Adnn1n/Blog/Index" target="rightFrame"> 文章管理 </a></li>
                    </ul>
                </li>


                <li class="menu-list">
                    <a href="#"><i class="icon-lock"></i> <span> 用户管理 </span></a>
                    <ul class="sub-menu-list">
                        <li><a href="/Adnn1n/Login" target="rightFrame"> 管理员管理 </a></li>
                        <li><a href="/Adnn1n/Home/Welcome" target="rightFrame"> 权限管理 </a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>

    <div class="main-content">

        <div class="header-section">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <form class="searchform">
                <input type="text" class="form-control" name="keyword" placeholder="请输入关键字" />
            </form>

            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Hugo
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li> <a href="/Adnn1n/Login"> <i class="fa fa-lock"></i> Logout </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <div class="wrapper">
            <iframe id="rightFrame" name="rightFrame" frameborder="0" scrolling="no" src="/Adnn1n/Home/Welcome" style="min-height:600px;width:100%;height:100%;"></iframe>
        </div>

        <footer class="footer-main">Copyright &copy; 2019.Weqan</footer>

    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/moment.js"></script>
    <script src="~/js/jquery.slimscroll.js "></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/functions.js"></script>

</body>
</html>


